﻿@model Bai3.ViewModels.PostsViewModel

<div class="panel panel-primary panel-post">
    <div class="panel-heading panel-heading-prod">
        <i class="fa fa-comments-o"></i> Bài viết chăm sóc thú cưng
    </div>
    <div class="panel-body panel-body-post">
        @foreach (var item in Model.Blogs)
        {
            <h2>@item.Title</h2>
            <p>@item.Description</p>
        }
    </div>
</div>