﻿@model Bai3.ViewModels.ContactViewModel


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" datatarget="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                @foreach (var item in Model.Menus)
                {
                    <li><a href="/@item.Link">@item.Title</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#modalSignup">
                        <span class="glyphicon glyphicon-user"></span> Đăng ký
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#modalLogin">
                        <span class="glyphicon glyphicon-log-in"></span> Đăng nhập
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>